---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: false
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never
...
