---
Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none
...
